@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500&family=Roboto:wght@400;700&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-text-color: black;
    --secondary-text-color:white;
    --accent-color: rgb(241, 155, 26);
    --accent-color-dark: rgb(50, 122, 204);
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color:var(--primary-text-color);

}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;

}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline:auto ;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}


.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color) ;
    transition: 0.2s ease-out;
    text-align: center;

}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;


}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color)!important;
}

/* nav bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}

.company-logo img{
   width: 200px;
}

.nav-links{
    flex-basis:730px ;
    
}


.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-toggle{
    display: none;
}

/* header section */












header{
    padding: 50px var(--padding-inline-section) 0 ;
    
}

.header-section{
    justify-content: center;
    gap: 50px;
    
    
    
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 20px;
}

.header-right img{
    width: 100%;
    

}

/* companies section */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    flex-wrap:wrap ;
    gap: 20px;
}

.logo{
    height: 46px;
}

/* features section */

.features-section{
    
    padding: 80px var(--padding-inline-section) 0;
    

}



.features-header{
    text-align: center;
    margin-bottom: 40px;
}

.features-heading-text{
    margin-bottom: 20px;
}

.features-area{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img{
    width: 60px;
    
    
}

/* big feature section */


.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap: 30px;
}

#second-big-feature{
    flex-direction: row-reverse;
}

.feature-img img{
    width: 100%;
}

.feature-desc{
    flex-direction:column ;
    align-items: flex-start;
}

/* Faqs section */

.FAQs-section{
    padding: 80px var(--padding-inline-section);
}

.FAQs-header{
    flex-direction: column;
    gap: 20px;
    text-align: center;
}



.FAQs-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}


.FAQs-card{

    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    
    background: linear-gradient( rgb(0,0,0,0.1), rgb(0, 0, 0,0.8) ),url(https://images.pexels.com/photos/1848731/pexels-photo-1848731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    transition: 0.2s ease-out;
    
}

.FAQs-card:hover{
    box-shadow: 0 0 10px #888;
}

.FAQs-card:nth-child(3){
    background: linear-gradient( rgb(0,0,0,0.1), rgb(0, 0, 0,0.8)),url(https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=600) ;
    background-size: cover;
}

.FAQs-card:nth-child(4){
    background: linear-gradient( rgb(0,0,0,0.1), rgb(0, 0, 0,0.8)),url(https://images.pexels.com/photos/3943748/pexels-photo-3943748.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
 
    
    

}



/* test section */

.test-section{
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #1d3557;
}

.test-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}



.test-section-container p {
    color: white; 
    margin-top: 20px;
}

/* subfooter */


.sub-footer{
    background-color: var(--accent-color-dark);
    padding: var(--padding-inline-section);

}

.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}



